html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.app, .actions {
    display: flex;
    justify-content: space-between;
}
.app {
    height: 100%;
}
.options-col, .map-col {
    height: 100%;
}
.map-col {
    flex: 1 0 30%;
    max-width: 50%;
}
.main-col, .options-col {
    flex: 0 1 320px;
    max-width: 320px;
    padding: 1.5rem;
}
.main-col {
    border-left: 1px solid #f2f2f2;
}
#map {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}
fieldset {
    border: 1px solid #f2f2f2;
    margin-bottom: 1rem;
}
legend { font-weight: bold}
label {display: block; }
.events-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}