input, select {
    border: 1px solid #999;
    padding: .5em;
}
.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}
.form-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  padding: .85em;
}
.form-group:last-child {
  border-bottom: 0;
}
input:checked + label {
  background: #F9F9F9;
  text-decoration: line-through;
}
input[type="checkbox"] {
  margin: 1em;
}
.error, .has-error {
    color: #f33;
}
.error.error-msg {
    display: block;
    font-size: .9em;
    font-style: normal;
    margin-top: 6px;
}
.has-success input {
    border-color: lightgreen;
}
