.u-pos-r {
    position: relative;
}
.text-center {
    text-align: center
}

.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.stretched-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    background-color: rgba(0,0,0,0);
}
